@layer base {
  :root{
    --space-cadet:#272A4C;
    --resolution-blue:#272A7C;
    --marian-blue:#1C4383;
    --argentinian-blue:#69B4E4;
    --powder-blue:#AAB8C5;
    --celestial-blue:#2A9ED5;
    --brand-black:#000000;
    --brand-white:#FFFFFF;
  }
}